*, body, html {
	padding:0;
	margin:0;
}
#wrap {
	display:block;
	margin:auto;
	text-align:left;
}
#map {
}
.stroke {
	fill:none;
	stroke:#666;
	stroke-width:2px;
}
.graticule {
	fill:none;
	stroke:#c0c0c0;
}
.land {
	fill:#c0c0c0;
	stroke:white;
	stroke-width:0.2px;
}
.stadium {
	fill:#333;
	fill-opacity: 0.3;
}
.stadOn {
	fill:steelblue;
	fill-opacity:1.0;
}
.stadOff {
	fill:#333;
	fill-opacity: 0.3;
}
.fill {
	fill: #fff;
}