body, html, h1, h2, h3, p {
	padding:0;
	margin:0;
}
body {
	font-family:arial;
}
h2 {
	margin-bottom:-20px;
}
h3 {
	color:#555;
	margin-bottom:-10px;
}
.country {
	font-size:0.8em;
	font-weight:100;
}
p {
	margin-bottom:3px;
}
#wrap {
	display:block;
	margin:auto;
}
#map {
}
#info {
	position:absolute;
	right:20px;
	top:20px;
	padding:5px 10px;
	border:rgba(200,200,200,0.7) 3px solid;
	background-color:rgba(240,240,240,0.5);
}

.stroke {
	fill:none;
	stroke:#666;
	stroke-width:2px;
}
.graticule {
	fill:none;
	stroke:#c0c0c0;
}
.land {
	fill:#c0c0c0;
	stroke:white;
	stroke-width:0.2px;
}
.stadium {
	fill:steelblue;
	fill-opacity: 0.4;
}
.stadOn {
	fill:#333;
	fill-opacity:1.0;
}
.stadOff {
	fill:steelblue;
	fill-opacity: 0.4;
}
.fill {
	fill: #fff;
}